@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 57%, rgba(0,0,0,1) 100%);
}

p{
    color: white;
    text-align: justify;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: rgba(255, 0, 149, 0.807);
    text-align: center;
    font-size: 40px;
    font-family: 'JetBrains Mono', monospace;
}

h2{
    color: rgb(0, 255, 0);
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(4, 0, 249);
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#intro-pag{
    text-align: justify;
    margin: 10px 300px;
}

.conteudo-padrao{
    background-color: rgba(0, 0, 0, 0.577);
    border: 5px solid rgb(0, 0, 0);
    margin: 200px 300px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 2vh 2vh #79cfe9;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

footer{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.626);
    color: white;
    width: 100%;
    text-align: center;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
}